* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Playfair Display', serif, system-ui, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    font-size: 1.8rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
    padding: min(5em, 8%);
}

.photo-section {
    position: relative;
}

.photo-section > img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 9 / 16;
    object-fit: cover;
}

.photo-section > p {
    position: absolute;
    bottom: 0;
    font-size: 7rem;
    color: white;
    font-weight: 500;
}
.about {
    margin-bottom: 1rem;
}

.about > h1 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

.about > p {
    font-size: 1.8rem;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icons svg {
    height: 40px;
    width: 40px;
}

main {
    padding: min(5em, 8%);
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.project {
    border: 1px solid gray;
}

.project-screenshot {
    padding: 6rem 2rem;
    background-color: #5e8f4d;
    font-size: 3rem;
    color: white;
}

.project-content {
    padding: 1rem;
    padding-bottom: 4rem;
}

.project-content .name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.project .name .icons > * {
    width: 30px;
    height: 30px;
}

.project-content .description {
    margin-top: 1rem;
    font-size: 1.4rem;
}

.contact {
    padding: min(5em, 8%);
    background-color: #0891b2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact > h1 {
    font-weight: 400;
    text-align: center;
}

.contact > * {
    margin-bottom: 1rem;
}

.contact .information {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

.contact .information > p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

footer > img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 9 / 16;
    object-fit: cover;
}
