* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Playfair Display', serif;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: min(5em, 8%);
}

.photo-section {
    position: relative;
}

.photo-section > img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 9 / 16;
    object-fit: cover;
}

.photo-section > p {
    position: absolute;
    bottom: 0;
    font-size: 7rem;
    color: white;
    font-weight: 500;
}
.about{
    margin-bottom: 1rem;
}

.about > h1{
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

.about > p{
    font-size: 1.8rem;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icons svg{
    height: 40px;
    width: 40px;
}
