* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Playfair Display', serif, system-ui, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: clamp(2.5rem, 5vw + 0.5rem, 7rem);
}

p {
    font-size: clamp(1rem, 5vw + 0.5rem, 1.4rem);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    padding: min(5em, 8%);
}

.photo-section {
    position: relative;
}

.photo-section > img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 9 / 16;
    object-fit: cover;
}

.photo-section > p {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 7rem;
    font-weight: 500;
}

.about {
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: justify;
}

.about > h1 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.icons svg {
    height: 40px;
    width: 40px;
}

main {
    padding: min(5em, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.project {
    border: 1px solid gray;
}

.project-screenshot {
    padding: 6rem 2rem;
    background-color: #5e8f4d;
    color: white;
}

.project-content {
    padding: 1rem;
    padding-bottom: 4rem;
}

.project-content .name {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.project .name .icons > * {
    width: 30px;
    height: 30px;
}

.project-content .description {
    margin-top: 1rem;
}

footer {
    width: 100vw;
    background-color: #0891b2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    padding: min(5em, 8%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact > h1 {
    font-weight: 400;
    text-align: center;
}

.contact > * {
    margin-bottom: 1rem;
}

.contact .information {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
        sans-serif;
}

.contact .information > p {
    margin-bottom: 2rem;
}

.footer-container > img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 9 / 16;
    object-fit: cover;
}

@media (min-width: 500px) {
    .photo-section {
        float: left;
        margin-right: 2rem;
    }

    .photo-section > img {
        max-width: 350px;
        aspect-ratio: 1 / 1;
    }

    .photo-section > p {
        font-size: 4rem;
    }

    header .icons {
        display: none;
    }

    .projects-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 1fr;
    }

    .footer-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-auto-rows: 1fr;
    }

    .footer-container > img {
        justify-self: center;
        max-width: 350px;
    }
}

@media (min-width: 1000px) {
    p {
        font-size: clamp(1.5rem, 5vw + 0.5rem, 2rem);
    }

    header,
    main,
    .footer-container {
        max-width: 1500px;
    }

    header .icons {
        display: flex;
        margin-top: 2rem;
    }

    .photo-section > img {
        max-width: 600px;
        aspect-ratio: 16 / 9;
    }

    .projects-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer-container > img {
        justify-self: center;
        max-width: 500px;
        aspect-ratio: 16 / 9;
    }
}
